@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;900&display=swap");
@import "tailwindcss";

:root {
  --color-mm-grey: #353535;
}

@theme inline {
  --color-primary: var(--color-white);
  --color-primary-foreground: var(--color-black);

  --color-secondary: var(--color-mm-grey);
  --color-secondary-foreground: var(--color-white);
}

body {
  background: var(--color-primary);
  color: var(--color-primary-foreground);
  font-family: "Urbanist", sans-serif;
}
