@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Onest:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --color-mm-grey: #cecece;
}

@theme inline {
  --color-primary: var(--color-grey);
  --color-primary-foreground: var(--color-black);

  --color-secondary: var(--color-mm-grey);
  --color-secondary-foreground: var(--color-grey);
}

body {
  background: var(--color-primary);
  color: var(--color-primary-foreground);
  font-family: "Urbanist", sans-serif;
}
